SERVER_ADDRESS=":8080"

DB_ADDRESS="host=localhost port=5432 user=username password=userpass dbname=dbname sslmode=disable"
DB_MAX_CONNS=30
DB_MAX_IDLE_CONNS=30
DB_MAX_IDLE_TIME="5m"

POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
POSTGRES_DB=social
POSTGRES_PORT=5432
